.headerContainer {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: space-between;
    max-width: 158px;
    margin: 16px;
}

.picture {
    font-family: Roboto, sans-serif;
    align-self: center;
    color: #fff;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight: bold;
}

.userInfoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    color: white;
    justify-self: flex-end;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 10px;
    line-height: 12px;
}