.background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    padding: 10px;
    background: url('../../components/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.registerCardContainer {
    border-radius: 15px!important;
    width: 30%;
    min-width: 300px;
    background: rgba(255, 255, 255, 0.90) !important;
}

.registerCardContainer > Form {
    max-height: 300px;
}

.registerBtn {
    width: 100%;
    margin-bottom: 5px;
}

.registerErrorMessage {
    color: red;
}